{
  "presets": [
    "react",
    "env",
    "stage-1"
  ],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "displayName": true,
        "fileName": false
      }
    ],
    [
      "babel-plugin-transform-custom-element-classes"
    ]
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
