.playgroundWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.flexCentered {
  display: flex;
  align-items: center;
}

.isDisabled {
  pointer-events: none;
  opacity: 0.3;
}
