.flexCentered {
  display: flex;
  align-items: center;
}

.isDisabled {
  pointer-events: none;
  opacity: 0.3;
}

.isCollapsed {
  transform: rotate(90deg);
}

.accordionWrapper {
  margin-left: 15px;
}
