.navMenuWrapper {
  &.isHorizontal {
    display: flex;
    align-items: center;
  }
}

.flexCentered {
  display: flex;
  align-items: center;
}

.isDisabled {
  pointer-events: none;
  opacity: 0.3;
}

.title {
  margin-left: 10px;
}

.menuWrapper {
  max-width: 200px;
}

.icon {
  margin-right: 10px;
}

.title {
  margin: 0 10px;
}

.isCollapsed {
  transform: rotate(90deg);
}
