.navMenuWrapper {
  max-width: 200px;
  min-width: 150px;

  &.isHorizontal {
    display: flex;
    align-items: center;
    max-width: unset;
  }

  &.isMinimized {
    min-width: unset;
  }
}

.flexCentered {
  display: flex;
  align-items: center;
}

.isDisabled {
  pointer-events: none;
  opacity: 0.3;
}

.title {
  margin-left: 10px;
}

.icon {
  margin-right: 10px;
}

.title {
  margin: 0 10px;
}

.isCollapsed {
  transform: rotate(90deg);
}
